.navigation {
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    border-bottom: 2px solid #828282;
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding-top: 32px;
    padding-bottom: 16px;
}

.navigation img {
    width: 160px;
    height: 80px;
    padding-bottom: 32px;
}

.aboutSchool p {
    padding-top: 6%;
    font-size: larger;
    font-weight: 700;
    line-height: 50px;
}

.aboutSchool {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border-bottom: 2px solid #828282;
    text-align: center;
    height: 300px;
    line-height: 30px;
    background-image: url(/aboutSchoolBG.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: -180px;
}

.aboutTeacher {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 54px 0;
    border-bottom: 1px solid #828282;
    font-size: 20px;
    height: 400px;
    background-image: url(/aboutTeacherBG.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.aboutTeacher ul {
    line-height: 70px;
}

.aboutTeacher h1 {
    padding-bottom: 16px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.aboutTeacher h2 {
    margin-top: 50px;
    margin-left: 70px;
    font-weight: 550;
}

.aboutTeacher li::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(/fi-rr-graduation-cap.svg);
    float: left;
    /* position: relative; */
    margin: 20px 16px 0 0px;
}

.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 54px 0;
    border-bottom: 2px solid #828282;
    background-image: url(/coursesBG.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: -250px;
}

.courseEnter {
    background-color: blue;
}
.courses p {
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.courseProgram:hover {
    background: rgb(79, 79, 209);
    color: white;
}
.aboutCourses {
    padding-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.courseProgram{
    text-align: center;
    line-height: 20px;
    padding: 20px;
    border: solid 2px blueviolet;
    background-color: white;
}

.courseProgram h1 {
    font-size: 20px;
}
.courseProgram img {
    width: 70px;
    height: 70px;
    padding-bottom: 20px;
}

.courseProgram h2 {
    width: 255px;
    padding-top: 32px;
    padding-bottom: 54px;
}

.courseProgram a {
    text-decoration: none;
    color: inherit;
}

.courseProgram h1 {
    height: 30px;
}

.choice p {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.choice {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding: 54px 0;
    border-bottom: 2px solid #828282;
    height: 400px;
    background-image: url(/choiceBG.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: -255px;
    color: white;
}

.reasons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 2px 2px 2px black;
}

.reason {
    height: 70px;
    /* border: solid 2px blueviolet; */
    margin: 15px 100px;
    padding: 10px;
}

.reason img {
    width: 50px;
    height: 50px;
    padding-left: -300px;
}

.reason h1 {
    font-size: 24px;
    padding-bottom: 20px;
}

.reason h2 {
    font-size: 18px;
}

.lessonsGoing {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 40px 0 10px;
    border-bottom: 2px solid #828282;
    /* background-image: url(/choiceBG.jpg); */
    background-image: url(/backGrnd5.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-position-x: right; */
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: larger;
    height: 500px;
    /* text-shadow: 2px 2px 2px white; */
}

.lessonsGoing p {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.learning {
    padding-top: 30px;
    display: flex;
    
    padding-bottom: 70px;
}

.lessons {
    text-align: center;
    line-height: 25px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid black;
    width: 250px;
    border-radius: 15px;
}

.lessons h2 {
    padding: 5%;
    font-size: 16px;
}

.lessons h1 {
    padding-bottom: 8px;
    padding-top: 12px; 
    font-size: 130%;
}

.detailedCourses {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding: 54px 100px;
    border-bottom: 2px solid #828282;
    height: 550px;
    font-weight: bold;
    font-size: larger;
}

.detailedCourses h1{
    font-size: 44px;
}


.detailedCourses h2{
    padding-top: 5%;
    font-size: 20px;
    line-height: 35px;
    padding-bottom: 5%;
}
.detailedCourses span {
    /* border: 2px solid purple; */
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 1.2%;
}
#detailedKids {
    background-image: url(/detailedKidsBG.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-position-y: center; */
}

#detailedKids span {
    background-color: #7847D6;
    /* border: 2px solid black; */
    text-shadow: 2px 2px 2px black;
}

#detailedReaders {
    /* background-image: url(/backGrnd8.jpg); */
    background-image: url(/detailedReadersBG.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-position-y: center; */
}

#detailedReaders span {
    background-color: #34517D;
    text-shadow: 2px 2px 2px black;
}

#detailedSmartKids {
    /* background-image: url(/backGrnd11.jpg); */
    background-image: url(/detailedSmartKidsBG.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#detailedSmartKids span{
    background-color: #4C599F;
    text-shadow: 2px 2px 2px black;
}

#detailedIndividual {
    /* background-image: url(/backGrnd10.jpg); */
    background-image: url(/detailedIndividualBG.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 0px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

#detailedIndividual h2 {
    padding-bottom: 2%;
}

#detailedIndividual span {
    background-color: #733167;
    text-shadow: 2px 2px 2px black;
}
.foo {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    height: 200px;
    font-weight: bolder;
    background-image: url(/footerBG.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: -50px;
}

.foo h1 {
    font-size: 24px;
    padding-bottom: 26px;
    text-align: center;
}

.contactsList {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    align-items: center;
    line-height: 25px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.contact img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

span {
    color: white;
    background-color: #233d63;
}
/* html {
    background: url(/backGround.jpg) left 50% top 50% / cover no-repeat fixed;
} */
/* html {
    background: url(/backGround.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: 600;
    color: rgb(41, 39, 39);
} */