.navigation {
    display: flex;
    padding: 32px 0;
    margin: 0 15%;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.aboutSchool {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 0;
    margin: 0 15%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #828282;
}

.aboutSchool img {
    width: 250px;
    height: 150px;
    padding-bottom: 32px;
}

.aboutTeacher {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 0;
    margin: 0 15%;
    border-bottom: 1px solid #828282;
}

.aboutTeacher h1 {
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 54px 0;
    margin: 0 15%;
    border-bottom: 1px solid #828282;
}

.courses p {
    font-weight: bold;
    font-size: 24px;
}

.aboutCourses {
    padding-top: 30px;
    display: flex;
    
}

.courseProgram{
    text-align: center;
}

.courseProgram img {
    width: 100px;
    height: 100px;
}

.courseProgram h2 {
    width: 255px;
    padding-top: 16px;
}

.foo {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 0;
    margin: 0 15%;
}

.foo h1 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 36px;
}

.contactsList {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.contact {
    text-align: center;
}

.contact img {
    width: 50px;
    height: 50px;
}